
<div id="userMap">
<div class="content"><a href="ssm_rc.html"><div class="box box1">The most simple RC model</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="ssm_kalman.html"><div class="box box2">Implementing a Kalman filter</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="ssm_pysip.html"><div class="box box3">Using the pySIP library</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="ssm_lfm.html"><div class="box box4">Unobserved influences with Latent Force Models</div></a></div>
<div class="clearfix"></div>

</div>
